body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }
  
  nav {
      border-bottom: 2px solid orange;
  }
  
  ol {
      padding-left: 0;
  }
  
  .crumb {
      margin-right: 2em;
      display: inline;
  }
  
  a {
      color: orange;
  }
  
  a:visited {
      color: crimson;
  }
  
  
  input {
      display: block;
  }
  
  img {
      max-width: 150px;
      max-height: 150px;
  }
  
  h1 {
      text-align: center;
  }

  .button{
    background-color: lightpink;
    padding: 10px 20px;
  
}

.container-one{
    border: 3px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

p {
    text-align: center;
}

.skills {
    visibility: hidden;
}

.skills-p {
    visibility: hidden;
}

.skills-list {
    visibility: hidden;
}

.interests {
    visibility: hidden;
}

.interests-p{
    visibility: hidden;
}